@model ChangePasswordModel

@{
    ViewData["Title"] = "Change password";
}

<form asp-action="ChangePassword" asp-route-redirectUri="@ViewData["RedirectUri"]" class="main-form">
    <div class="form-field">
        <input asp-for="Name" type="text" placeholder="In-game name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-field">
        <input asp-for="OldPassword" type="password" placeholder="Old password" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div class="form-field">
        <input asp-for="NewPassword" type="password" placeholder="New password" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-buttons">
        <button type="submit" class="btn">Login</button>
        <a asp-action="Login"
           asp-route-redirectUri="@ViewData["RedirectUri"]">Back to login</a>
    </div>
</form>
