@model ChangePasswordModel

@{
    ViewData["Title"] = "Change password";
}

<form asp-action="ChangePassword" asp-route-redirectUri="@ViewData["RedirectUri"]" class="main-form">
    <div class="form-field">
        <label>RotMG name</label>
        <input asp-for="Name" type="text" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-field">
        <label>Old password</label>
        <input asp-for="OldPassword" type="password" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div class="form-field">
        <label>New password</label>
        <input asp-for="NewPassword" type="password" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-buttons">
        <button type="submit" class="btn">Login</button>
    </div>
</form>
