<form class="main-form">
    <div class="form-field">
        <input type="text" placeholder="In-game name" />
    </div>
    <div class="form-field">
        <input type="password" placeholder="Password" />
    </div>
    <div class="form-field">
        <span>This is test</span>
        <input type="text" readonly value="Test" />
    </div>
    <div class="form-buttons">
        <button type="button">Sign in</button>
        <button type="button" class="secondary">Sign up</button>
    </div>
</form>
