@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" asp-route-redirectUri="@ViewData["RedirectUri"]" class="main-form">
    <div class="form-field">
        <label>RotMG name</label>
        <input asp-for="Name" type="text" />
        <span asp-validation-for="Name"></span>
        @if (Model.NotFound)
        {
            <span>Name is not found, you can register <a asp-action="Register"
                asp-route-redirectUri="@ViewData["RedirectUri"]">here</a></span>
        }
    </div>
    <div class="form-field">
        <label>Password</label>
        <input asp-for="Password" type="password" placeholder="Not from RotMG or RealmEye" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-buttons">
        <button type="submit" class="btn">Login</button>
        <div class="links">
            <a asp-action="Register"
               asp-route-redirectUri="@ViewData["RedirectUri"]"
               asp-route-restore="true">Forgot password</a>

            <a asp-action="Register"
               asp-route-redirectUri="@ViewData["RedirectUri"]">Register</a>
        </div>
    </div>
</form>
