html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

@media (max-width: 576px) {
    html {
        font-size: 18px;
    }
}

body {
    background: #ededed;
    margin: 10px;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border: 0;
    border-radius: 10px;
    background: #ededed;
    padding: 12px 14px;
}

    input:focus {
        outline: none;
    }

    input::placeholder {
        font-size: 0.8em;
    }

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.36em;
    border: 0;
    border-radius: 10px;
    background: #459eda;
    color: #ffffff;
    padding: 12px 14px;
}

    .btn:hover {
        cursor: pointer;
        background: #2b91d5;
    }

    .btn:active {
        cursor: pointer;
        background: #007acc;
    }

    .btn.secondary {
        border: 2px solid #459eda;
        background: #ffffff;
        color: #459eda;
    }

        .btn.secondary:hover {
            cursor: pointer;
            background: #ededed;
        }

        .btn.secondary:active {
            cursor: pointer;
            background: #dddddd;
        }

a {
    font-size: 1em;
    color: #459eda;
}

    a:hover {
        color: #2b91d5;
    }

    a:active {
        color: #007acc;
    }

a.btn {
    text-align: center;
    text-decoration: none;
}

.main-container {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    background: #ffffff;
    padding: 32px 14px 72px 14px;
}

.main-logo {
    text-align: center;
}

    .main-logo > img {
        width: 192px;
        height: 192px;
    }

.main-title {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0 80px 0;
}

@media (max-width: 576px) {
    .main-logo > img {
        width: 120px;
        height: 120px;
    }

    .main-title {
        font-size: 27px;
        margin: 18px 0 52px 0;
    }
}

.main-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2.6em 0 0 0;
}

    .form-field > label,
    .form-field > span {
        font-size: 0.8em;
        position: absolute;
        left: 14px;
    }

    .form-field > label {
        color: #858585;
        top: -1.2em;
    }

    .form-field > span {
        color: #f44336;
        bottom: -1.2em;
    }

    .form-field > span.static {
        position: static;
        margin: 2px 0 0 14px;
    }

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.7em 0;
    margin: 2.6em 0 0 0;
}

    .form-buttons a:not(.btn) {
        font-size: 0.8em;
    }
